.container {
  text-align: center;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  padding-top: 50px;
  margin-left: 25% !important;
}

.playerGroup{
  margin-bottom: 60px;
}

.cardGroup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.progressBar{
  width: 775px;
  margin: auto;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 27px;
}

.secondButton{
  margin-top: 20px;
}

.secondBadge{
  margin-left: 10px;
}

.loadingImg{
  width: 110px;
  margin-top: -20px;
  filter: hue-rotate(250deg);
}

.loadingSpace{
  margin-top: 100px;
}

.header{
  width: 25%;
  background-color: #212529;
  height: 100%;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  padding: 45px;
  color:#fefefe;
}

.app{
  display: flex;
}

.progressLabel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 80%;
  color: #6c757d;
}


.description{
  width: 90%;
}



h1{
  line-height: 68px !important;
  margin-bottom: 30px !important;
  font-weight: bold !important;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: scroll;
}

.dataImg{
  width: 125px;
  margin-left:10px;
}

.data{
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 80%;
  color: #fefefe;
}

.statsTable{
  margin-top: 35px;
}