.App {
  text-align: center;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerGroup{
  width: 900px;
  margin-bottom: 30px;
}

.cardGroup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.progressBar{
  width: 775px;
  margin: auto;
}

.buttons{
  display: flex;
  width: 900px;
  margin: 30px;
  justify-content: center;
}

.secondButton{
  margin-left: 20px;
}

.secondBadge{
  margin-left: 10px;
}

.loadingImg{
  width: 110px;
  margin-top: -20px;
  filter: hue-rotate(250deg);
}

.loadingSpace{
  margin-top: 100px;
}